body{  
background: #86FFFC;
}

* {
color:#FF86E4;
}

h1{  
font-size: 4.0em;
box-shadow:5px 5px 5px #000000;
color: #FF006E;
border: inset 15px #007C38;
border-radius: 15px;
background-color;:  #DDEE99;
 }

h2{
font-size: 2.0em;
color:#000000;
border: inset 5px #007C38;
border-radius: 20px;
}

h3{
font-size: 1.5em;
 color:#565656;
}

a{
color: #FC395E;
}
